<!-- Button trigger modal -->
<!--<div class="text-right-->
<!--<button type="button" (click)="ck_click()" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
    Inscription
  </button>-->
<!--<a (click)="ck_click()" data-toggle="modal" data-target="#exampleModalLong" class="text-co"> Inscription</a>

</div>

<!-- Modal -->
<
<!--div #ckmodal class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Créer votre compte</h5>
        <button type="button" (click)="ck_close()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="Name">Name</label>
            <input type="Name" class="form-control" id="exampleInputPassword1" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="firstName">firstName</label>
            <input type="firstName" class="form-control" id="exampleInputPassword1" placeholder="firstName">
          </div>
          <div>
            <p>Vous possédez déjà un compte</p><a href="#"> Cliquez-ici.</a>
          </div>
          <div class="but1">
            <button type="submit" class="btn btn-lg content btn-primary">REJOINDRE LA COMMUNAUTE</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>-->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
