  <div class="container">
    <h2 class="text-center"> Etablisement Partenaire de l'entreprise</h2>
    <img src="..\..\assets\logo2.png" class="card-img-top" alt="...">
    <img src="..." class="card-img-top" alt="...">
    <img src="..." class="card-img-top" alt="...">
    <img src="..." class="card-img-top" alt="...">
    <img src="..." class="card-img-top" alt="...">
    <img src="..." class="card-img-top" alt="...">
  </div>
