<div class="container-fluid drop-down">
  <div class="row">
    <div>
      <ul class="Follow-link">
        <li class="list_link">
          <a href="#">Accueil</a>
        </li>
        <li  class="list_link">
          <a href="blog">Les articles</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="search_box">
    <input class="text_white" type="text" placeholder="votre recherche">
    <a href="#"><i class="fas fa-search"></i></a>
  </div>
</div>

