<div class="align-self-center container-hp test ">
  <div>
    <p class="catsandstars">
      Un paragraphe pour présenter l'entreprise d'agathe et elodie
    </p>
    <p>Avec plein de chose dont un logo qui apparait en dessous si j'ai pas foiré</p>
    <p class="catsandstars">
      coiucou
    </p>
  </div>
  <div class="wrapper">
     <div class="search_box">
       <input class="text_white" type="text" placeholder="votre recherche">
       <a href="#"><i class="fas fa-search" ></i></a>
     </div>
  </div>
</div>

